/.DS_Store
__pycache__/
*/.DS_Store
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.idea/*
*/.vscode/*
*/.mypy_cache/*
*/.mypy_cache/*
*/.coverage
*/*/.DS_Store
__pycache__/*
*/*/*/.DS_Store
*/*/*/*/.DS_Store
/.venv/
/dataset/B210413/
/dataset/eval/*
/dataset/full/*
/dataset/train/*
/pretrained/classic_lbph.json
/pretrained/classic_lbph.yml
/temp/*
/data/*
!/data/pubfig/
!/data/pubfig/README.md
/data/celeba/*
!/data/celeba/
!/data/celeba/README.md
/data/pubfig/raw/*
/data/pubfig/dev_subset/*
/data/pubfig/dev_subset_fast/*
/data/pubfig/dev_subset_random/*
/data/pubfig/dev_subset_v2/*
/data/celeba/raw/*
/data/celeba/subsets/*
/server/runtime/*
!/server/runtime/.gitkeep
